/* Help reach menu button be in the right place */
[data-reach-menu] {
  position: absolute;
}

.dropdown {
  background: var(--dropdown-background);
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--dropdown-background) transparent;
  }

  & > div {
    padding: 5px 20px;
    cursor: pointer;
    color: var(--dropdown-color);
    &:focus {
      color: var(--dropdown-hover-color);
      background: var(--dropdown-hover-background);
      outline: 0;
    }
    &.dropdown__current {
      color: var(--dropdown-current-color);
      background: var(--dropdown-current-background);
    }
  }
}

.button {
  font-family: var(--font);
  background: none;
  border-radius: 0;
  border: 0;
  color: var(--header-fg);
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 20px;
  position: relative;

  &:focus {
    outline: 2px solid var(--highlight-color);
    outline-offset: -2px;
  }
  &:hover {
    background-color: var(--header-bg-hover);
    color: var(--link-hover);
    outline: 0;
  }
  &:active,
  &[aria-expanded='true'] {
    background-color: var(--header-bg-active);
    color: var(--link-active);
  }

  &:after {
    content: '';
    position: absolute;
    right: 10px;
    top: calc(50% - 1px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: currentColor transparent transparent transparent;
  }
}
