.header {
  grid-area: header;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $header-bg;
  padding: 0 20px;
}

.logo {
  height: 30px;
  cursor: pointer;
  // TODO Build this in the svg
  margin-bottom: 3px;
}
