.header {
  height: 50px;
  background: $header-bg;
  // position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  // top: 0;
  // left: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 30px;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: pointer;
  }
}
