.video-list {
  grid-area: videos;
  box-sizing: border-box;
  list-style: none;
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  margin-right: -30px;
  padding-right: 30px;
  background: #30373e;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 1023px) {
    box-sizing: content-box;
    white-space: nowrap;
    top: auto;
    bottom: -30px;
    padding-bottom: 30px;
    width: 100%;
    left: 0;
    height: 74px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.video-item {
  background: #30373e;
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid #252c31;
  position: relative;
  &:hover {
    cursor: pointer;
    background: #293038;
  }
  @media (max-width: 1023px) {
    width: $thumb-width;
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-right: 1px solid #252c31;
  }
}

.video-item--watched:after {
  content: 'Watched';
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 2px 3px;
  position: absolute;
  left: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.7);
}

.video-item--selected {
  background: #3a424a;
  .video-item__title {
    color: #dedede;
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #2196f3;
    padding: 0;
    width: 3px;
  }
}

.video-item__thumb {
  vertical-align: middle;
  width: $thumb-width;
  // TODO Make this a function of our width.
  height: 56px;
  float: left;
}

.video-item__title {
  // width: calc(100vw - #{$videos-width} - #{$thumb-width});
  width: calc(100vw - (100vh - $videos-width) / 0.5625 - 176px);
  min-width: 200px;
  display: inline-block;
  float: left;
  padding: 10px;
  // // Overwrite inherited value.
  // white-space: normal;

  font-size: 12px;
  color: #adadad;
  letter-spacing: 0.02em;

  // Limit text to two lines
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 22px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  @media (max-width: 1023px) {
    display: none;
  }
}

.video-list--preview {
  overflow: hidden;
  .video-item {
    &:hover {
      cursor: default;
      background: #30373e;
    }
  }
  .video-item__thumb {
    background-color: #464b51;
  }
  .video-item__title {
    background-color: #464b51;
    padding: 0;
    margin: 10px;
    height: 20px;
    border-radius: 2px;
  }
}
