{
  "plugins": [
    ["transform-react-remove-prop-types", {
      "classNameMatchers": ["Component"],
      "removeImport": true
    }],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    ["@babel/env", {
      "shippedProposals": true
    }],
    "@babel/react"
  ]
}
