{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-async-generator-functions",
    "@babel/proposal-do-expressions",
    "@babel/proposal-pipeline-operator",
    "react-hot-loader/babel"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "debug": false
    }]
  ]
}
