[development]
last 1 Chrome versions

[production]
last 2 Chrome versions
last 2 ChromeAndroid versions
last 2 Firefox versions
> 1% in my stats

last 1 iOS version
last 2 Edge versions
last 2 Safari versions

# > 2%

# Legacy
# Explorer 11

# No support
# BlackBerry
# FirefoxAndroid
# Electron
# UCAndroid
# ExplorerMobile
# Opera
# OperaMobile
# OperaMini
