<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>vose.tv - /r/videos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="theme-color" name="theme-color" content="#20262b">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/main.css">

    <!-- Begin Facebook tags -->
    <meta property="og:title" content="vose.tv">
    <meta property="og:url" content="https://vose.tv">
    <meta property="og:description" content="Your page description">
    <meta property="og:image" content="URL to image for thumbnail (square 350x350px)">
    <meta property="fb:page_id" content="Your facebook page ID">
    <meta property="og:type" content="website">
    <!-- End Facebook tags -->

    <!-- Begin Twitter tags -->
    <meta name="twitter:card" content="summary">
    <!-- <meta name="twitter:site" content="@site_account"> -->
    <meta name="twitter:creator" content="@simonmlaroche">
    <meta name="twitter:url" content="https://vose.tv">
    <meta name="twitter:title" content="vose.tv">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://www.example.com/path/to/image.jpg">
    <!-- End Twitter tags -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#20262b">
    <meta name="apple-mobile-web-app-title" content="vose.tv">
    <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="/img/startup-retina.png">

  </head>
  <body>

    <div id="root"></div>
    <script src="/bundle.js" async></script>

    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= gacode %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
