.header {
  grid-area: header;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--header-bg);
  padding: 0 20px;

  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
  }
}

.logo {
  height: 20px;
  cursor: pointer;
  fill: var(--logo-color);
  @media (min-width: 1024px) {
    height: 34px;
  }
}
