.video-list {
  grid-area: videos;
  box-sizing: border-box;

  margin-right: -30px;
  padding-right: 30px;
  background: var(--video-item-background);
  overflow-y: overlay;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.video-list--preview {
  overflow: hidden;
}
