.player {
  grid-area: player;
  width: calc((100vh - var(--videos-width)) / 0.5625);
  max-width: calc(100vw - 376px);
  padding: 20px;
  margin-right: -30px;
  padding-right: 50px;
  height: calc(100vh - 40px - 50px);
  overflow-y: overlay;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 1023px) {
    width: calc(100% - 40px);
    max-width: none;
    max-height: calc(100vh - 50px - 40px - 73px);
  }
  @media (max-width: 479px) {
    width: 100%;
    padding: 0;
  }
}

.player-embed {
  position: relative;
  padding-top: 56.25%;
  background: black;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.player-header {
  margin: 20px 0;
  @media (max-width: 479px) {
    padding: 0 10px;
  }
}

.player-title {
  line-height: 1.2;
  margin: 20px 0;
  display: inline;
  vertical-align: middle;
}

.player-title--preview {
  height: 37px;
  margin: 20px 0;
  border-radius: 2px;
  background-image: linear-gradient(114deg, #464b50, #40454a, #464b50, #40454a, #464b50);
  background-size: 300% 300%;
  animation: preview 1.2s linear infinite;
}

.player-title a {
  letter-spacing: -0.02em;
  color: var(--body-fg);
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: var(--body-fg);
  }
}

.player-flair {
  display: inline-block;
  font-size: 14px;
  padding: 3px 5px;
  color: var(--flair-color);
  background: var(--flair-background);
  vertical-align: middle;
  margin: 0 0 0 20px;
  border: 1px solid var(--flair-border);
  border-radius: 2px;
}

.player-footer {
  color: var(--footer-color);
  background: var(--footer-background);
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  @media (max-width: 479px) {
    border-radius: 0;
  }
}

.player-comments {
  display: inline-block;
  color: var(--footer-color);
  text-decoration: none;
  position: relative;
  margin-right: 40px;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
  &:after {
    content: '';
    position: absolute;
    right: -30px;
    top: 9px;
    width: 20px;
    height: 2px;
    background: var(--footer-color);
    pointer-events: none;
  }
}

.player-comments--preview {
  height: 19px;
  border-radius: 2px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(114deg, #464b50, #40454a, #464b50, #40454a, #464b50);
  background-size: 300% 300%;
  animation: preview 1.2s linear infinite;
}

.player-score {
  display: inline-block;
}
