.player {
  grid-area: player;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  padding: 0 0 20px;

  @media (min-width: 1024px) {
    width: calc((100vh - var(--videos-width)) / 0.5625);
    max-width: calc(100vw - 376px);
    margin-right: -30px;
    padding: 20px;
    padding-right: 50px;
    height: calc(100vh - 40px - 50px);
    overflow-y: overlay;
    overflow-x: hidden;
  }
}

.player-embed {
  position: relative;
  padding-top: 56.25%;
  background: black;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.player-header {
  margin: 20px 0;
  @media (max-width: 1023px) {
    padding: 0 10px;
  }
}

.player-title {
  line-height: 1.2;
  margin: 0.67em 0 0;
  margin: 20px 0;
  display: inline;
  vertical-align: middle;
  a {
    letter-spacing: -0.02em;
    color: var(--body-fg);
    font-weight: 400;
    text-decoration: none;
    transition: color 0.15s ease-out;
    &:hover {
      color: var(--link-color);
      transition: color 0.15s ease-in;
    }
  }
  /* Add margin next to title only if flair is displayed */
  &:first-child:not(:last-child) a {
    margin-right: 20px;
  }
  @media (max-width: 1023px) {
    font-size: 1.4em;
  }
}

.player-title--preview {
  height: 37px;
  margin: 20px 0;
  border-radius: 2px;
  background-image: linear-gradient(
    114deg,
    #464b50,
    #40454a,
    #464b50,
    #40454a,
    #464b50
  );
  background-size: 300% 300%;
  animation: preview 1.2s linear infinite;
}

.player-flair {
  color: var(--flair-color);
  background: var(--flair-background);
  border: 1px solid var(--flair-border);
  display: inline-block;
  font-size: 14px;
  padding: 3px 5px;
  vertical-align: middle;
  margin-top: 5px;
  border-radius: 2px;
}

.player-footer {
  color: var(--footer-color);
  background: var(--footer-background);
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  margin-top: auto;
  @media (max-width: 1023px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.player-comments {
  display: inline-block;
  color: var(--footer-color);
  text-decoration: none;
  position: relative;
  margin-right: 40px;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
  &:after {
    content: '';
    position: absolute;
    right: -30px;
    top: 9px;
    width: 20px;
    height: 2px;
    background: var(--footer-color);
    pointer-events: none;
  }
}

.player-comments--preview {
  height: 19px;
  border-radius: 2px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(
    114deg,
    #464b50,
    #40454a,
    #464b50,
    #40454a,
    #464b50
  );
  background-size: 300% 300%;
  animation: preview 1.2s linear infinite;
}

.player-score {
  display: inline-block;
}
