.app {
  display: grid;
  grid-template-areas:
    'header header'
    'player videos';
  grid-template-rows: var(--header-height) auto;
  height: 100vh;
  overflow: hidden;
  @media (min-width: 1024px) {
    grid-template-columns: auto 336px;
  }
  @media (max-width: 1023px) {
    grid-template-areas:
      'header'
      'player'
      'videos';
    grid-template-rows:
      70px
      1fr
      var(--video-item-height);
  }
}
