@keyframes preview {
  0% {
    background-position: 0% 72%;
  }
  100% {
    background-position: 100% 29%;
  }
}

:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --body-bg: #262c31;
  --body-fg: #8b939a;

  --header-bg: #20262b;
  --header-bg-hover: #2a3138;
  --header-bg-active: #313d4a;
  --logo-color: white;

  --link-color: #64b5f6;
  --link-hover: #95d0ff;
  --link-active: white;
  --header-fg: var(--link-color);
  --header-separator: #444b54;
  --header-height: 50px;

  --bright-color: #f7f7f7;
  --highlight-color: #2196f3;

  --thumb-width: 100px;
  --videos-width: 197px;

  --player-title-color: var(--body-fg);
  --flair-color: var(--bright-color);
  --flair-background: #656e75;
  --flair-border: #7d8a94;

  --dropdown-color: #5c5f63;
  --dropdown-background: white;
  --dropdown-hover-color: black;
  --dropdown-hover-background: #eee;
  --dropdown-current-color: white;
  --dropdown-current-background: var(--highlight-color);

  --video-item-background: #30373e;
  --video-item-color: #adadad;
  --video-item-color-selected: #dedede;
  --video-item-background-selected: #3a424a;
  --video-item-background-hover: #293038;
  --video-item-separator: #252c31;
  --video-item-height: 72px;

  --footer-color: var(--bright-color);
  --footer-background: var(--video-item-background);

  --message-color: var(--bright-color);


  /* test
  --body-bg: white;
  --body-fg: #333;

  --header-bg: #f1f1f1;
  --header-bg-hover: #ddd;
  --header-bg-active: #ccc;
  --header-fg: #64b5f6;
  --header-separator: #e0e0e0;
  --logo-color: black;

  --bright-color: black;
  --highlight-color: #2196f3;

  --flair-color: var(--body-fg);
  --flair-background: #c8dcec;
  --flair-border: #85b1d4;

  --dropdown-color: #5c5f63;
  --dropdown-background: white;
  --dropdown-hover-color: black;
  --dropdown-hover-background: #eee;
  --dropdown-current-color: white;
  --dropdown-current-background: var(--highlight-color);

  --video-item-background: #f7f7f7;
  --video-item-color: #666;
  --video-item-color-selected: black;
  --video-item-background-selected: white;
  --video-item-background-hover: white;
  --video-item-separator: #eee;

  --footer-color: var(--bright-color);
  --footer-background: var(--video-item-background);

  --message-color: var(--bright-color);
  */
}

::selection {
  color: var(--bright-color);
  background: var(--header-fg);
  opacity: 1;
  text-shadow: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font);
  color: var(--body-fg);
  background: var(--body-bg);
  height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.app {
  display: grid;
  grid-template-areas:
    'header header'
    'player videos';
  grid-template-rows: var(--header-height) auto;
  height: 100vh;
  overflow: hidden;
  @media (min-width: 1024px) {
    grid-template-columns: auto 336px;
  }
  @media (max-width: 1023px) {
    grid-template-areas:
      'header'
      'player'
      'videos';
    grid-template-rows:
      70px
      1fr
      var(--video-item-height);
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
