.sort {
  display: flex;
  height: 100%;
  align-items: stretch;
  & > :not(:last-child):not(:first-child) {
    border-right: 1px solid var(--header-separator);
  }

  @media (max-width: 1023px) {
    height: 35px;
    align-self: center;
  }
}

.sort__title {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.26em;
  text-transform: uppercase;
  padding-left: 20px;
  margin-right: 7px;

  /* "Hack" to vertically align text node. */
  display: flex;
  align-items: center;

  @media (max-width: 1023px) {
    /* TODO Visually hidden */
    display: none;
  }
}
