$body-bg: #262c31;
$body-fg: #9e9e9e;
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Roboto';
  color: $body-fg;
  background: $body-bg;
  height: 100vh;
}

@-ms-viewport {
  width: device-width;
}

h1 {
  margin: 0.67em 0 0;
}
