$header-bg: #20262b;
$header-fg: #64b5f6;

@keyframes menuFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  height: 50px;
  background: $header-bg;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  top: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 30px;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.menu:before {
  content: '';
  opacity: 0;
  transition: opacity 0.2s;
}

.menu.menu--opened:before {
  content: '';
  background: #111;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu__dropdown {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 40px;
  left: 0;
  background: white;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation-name: menuFadeIn;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  &:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent white transparent;
  }
  li {
    padding: 5px 20px;
    cursor: pointer;
    color: #5c5f63;
    &:hover {
      color: black;
      background: #eee;
    }
  }
  li.menu__active {
    color: white;
    background: #2196f3;
    cursor: default;
  }
}

.menu--opened .menu__dropdown {
  display: block;
}

.menu__button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  &:after {
    content: '';
    position: absolute;
    right: 16px;
    top: calc(50% - 3px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: $header-fg transparent transparent transparent;
    // Make the arrow clickable.
    z-index: -1;
  }
}
.menu__subreddit {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 40px 0 20px;
  display: inline-block;
  line-height: 50px;
  color: $header-fg;
  user-select: none;
}
