$header-bg: #20262b;
$header-fg: #64b5f6;

.header {
  height: 50px;
  background: $header-bg;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  top: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 30px;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: pointer;
  }
}
