$header-height: 50px;
$thumb-width: 100px;
$videos-width: 197px;
$gradient: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);

@import 'normalize';
@import 'base';
@import 'header';
@import 'player';
@import 'videos';
@import 'overlays';
