.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: $body-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__content {
  text-align: center;
  svg {
    width: 5vw;
    height: 5vw;
  }
  svg path {
    fill: #52c768;
  }
  h2 {
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    // Negate large letter spacing
    margin-right: -0.5em;
    font-weight: 300;
    font-size: 3vw;
  }
}
