.video-item {
  background: var(--video-item-background);
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid var(--video-item-separator);
  position: relative;
  &:hover {
    cursor: pointer;
    background: var(--video-item-background-hover);
  }
  @media (max-width: 1023px) {
    width: var(--thumb-width);
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-right: 1px solid var(--video-item-separator);
  }
}

.video-item--watched:after {
  content: 'Watched';
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 2px 3px;
  position: absolute;
  left: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.7);
}

.video-item--selected {
  background: var(--video-item-background-selected);
  .video-item__title {
    color: var(--video-item-color-selected);
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--highlight-color);
    padding: 0;
    width: 3px;
  }
}

.video-item__thumb {
  vertical-align: middle;
  width: var(--thumb-width);
  /* TODO Make this a function of our width. */
  height: 56px;
  float: left;
}

.video-item__title {
  width: calc(100vw - (100vh - var(--videos-width)) / 0.5625 - 176px);
  min-width: 200px;
  display: inline-block;
  float: left;
  padding: 10px;
  /* Overwrite inherited value. */
  /* white-space: normal; */

  font-size: 12px;
  color: var(--video-item-color);
  letter-spacing: 0.02em;

  /* Limit text to two lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 22px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  @media (max-width: 1023px) {
    display: none;
  }
}

.video-list--preview {
  .video-item {
    &:hover {
      cursor: default;
      background: var(--video-item-background);
    }
  }
  .video-item__thumb {
    background-image: linear-gradient(114deg, #464b50, #40454a, #464b50, #40454a, #464b50);
    background-size: 300% 300%;
    animation: preview 1.2s linear infinite;
  }
  .video-item__title {
    padding: 0;
    margin: 10px;
    height: 20px;
    border-radius: 2px;
    background-image: linear-gradient(114deg, #464b50, #40454a, #464b50, #40454a, #464b50);
    background-size: 300% 300%;
    animation: preview 1.2s linear infinite;
  }
}
