.item {
  background: var(--video-item-background);
  padding: 8px;
  border-bottom: 1px solid var(--video-item-separator);
  display: flex;
  position: relative;
  &:hover {
    cursor: pointer;
    background: var(--video-item-background-hover);
  }
  @media (max-width: 1023px) {
    width: 300px;
    border: none;
    border-right: 1px solid var(--video-item-separator);
    flex-shrink: 0;
  }
}

.watched:after {
  content: 'Watched';
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 10px;
  color: white;
  padding: 2px 3px;
  position: absolute;
  left: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.7);
}

.selected {
  background: var(--video-item-background-selected);
  .title {
    color: var(--video-item-color-selected);
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--highlight-color);
    padding: 0;
    width: 3px;
  }
}

.thumb {
  width: var(--thumb-width);
  height: calc(var(--thumb-width) * 0.5625);
  object-fit: cover;
  flex-shrink: 0;
}

.title {
  padding: 10px;
  /* Overwrite inherited value. */
  /* white-space: normal; */

  font-size: 12px;
  color: var(--video-item-color);

  /* Limit text to two lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 22px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.thumbPlaceholder {
  composes: thumb;
  background-image: linear-gradient(
    114deg,
    #464b50,
    #40454a,
    #464b50,
    #40454a,
    #464b50
  );
  background-size: 300% 300%;
  :global {
    animation: preview 1.2s linear infinite;
  }
}

.placeholder {
  composes: item;
  &:hover {
    cursor: default;
    background: var(--video-item-background);
  }
}
