$body-bg: #262c31;
$body-fg: #9e9e9e;

::selection {
  color: white;
  background: #64b5f6;
  opacity: 1;
  text-shadow: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: $body-fg;
  background: $body-bg;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0.67em 0 0;
}

a {
  color: #64b5f6;
  text-decoration: none;
}
