.menu__dropdown {
  list-style: none;
  margin: 0;
  padding: 0;

  padding: 10px 0;
  li {
    padding: 5px 20px;
    cursor: pointer;
    color: #5c5f63;
    &:hover {
      color: black;
      background: #eee;
    }
  }
  li.menu__active {
    color: white;
    background: #2196f3;
    cursor: default;
  }
}
